<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body>

<style>

</style>

<div th:if="${success}">
    <p th:text="${success}"></p>
</div>

<form th:action="@{/email}" th:object="${email}" method="post">

    <input th:field="*{recipient}" type="text" placeholder="Recipient"/>
    <input th:field="*{subject}" type="text" placeholder="Subject"/>
    <input th:field="*{message}" type="text" placeholder="Message"/>

    <button type="submit">Send</button>

</form>

</body>
</html>